/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Side */
body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  color: #222;
}

/* Hovedområde */
main {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

/* Toppområde */
header {
  margin-bottom: 2rem;
}

/* Søkefelt */
input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 250px;
  border: 1px solid #ccc;
}

/* Filmliste */
section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Filmkort */
article {
  background: white;
  padding: 0.5rem;
  border: 1px solid #ddd;
}

/* Poster */
img {
  width: 100%;
}

/* Filmtekst */
h2 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

p {
  font-size: 0.9rem;
  color: #555;
}